# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc
env

# output of compilation with opp_* tools
src/emergent_overlays/Makefile
src/emergent_overlays/out
src/emergent_overlays/src/Makefile
src/emergent_overlays/src/emergent_overlays
**/npm-debug.log

*_m.cc
*_m.h
**/Makefile
# node.js packages
**/node_modules

experiments/configs/built_configs/*
experiments/configs/built_configs/*.*
!experiments/configs/built_configs/.nothing
experiments/configs/unit-tests/results
experiments/configs/**/results

experiments/networks/built_topologies/*
experiments/networks/built_topologies/*.*
!experiments/networks/built_topologies/.nothing

# Non useful experimental results
experiments/configs/builtConfigs/results/
experiments/configs/results/

# Paper
text/main.aux
text/main.bbl
text/main.blg
text/main.log
text/main.pdf
text/main.synctex.gz

# partial results
results/n*.pdf

#CVS
results/summary.csv

#LOGS
src/scripts/debugging/logs/n_*

#NON USED DATASETS
results/*
results/*.*
!results/.nothing

#ICDCS paper
papers/ICDCS2017/main.aux
papers/ICDCS2017/main.bbl
papers/ICDCS2017/main.blg
papers/ICDCS2017/main.log
papers/ICDCS2017/main.pdf
papers/ICDCS2017/main.synctex.gz

# Draft for adaptation paper
# Middleware2017
papers/Middleware2017/main.aux
papers/Middleware2017/main.bbl
papers/Middleware2017/main.blg
papers/Middleware2017/main.log
papers/Middleware2017/main.pdf
papers/Middleware2017/main.out
papers/Middleware2017/main.synctex.gz

#
src/scripts/algo
