# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Vim files
*.swp

# backup files
*~

# Non useful config files
src/scripts/omnet.config
tools/omnetpp-4.6/
tools/omnetpp-5.0/
tools/inet/
tools/networkx-1.11/
src/protocols/*/*_m.cc
src/protocols/*/*_m.h

# Non useful output files
src/base/Makefile
src/base/*/*_m.cc
src/base/*/*_m.h
src/protocols/Makefile
built/
experiments/configs/builtConfigs/*.ini
experiments/configs/builtConfigs/*.density
experiments/networks/builtTopologies/*.ned

# Non useful experimental results
experiments/configs/builtConfigs/results/
experiments/configs/results/

# Paper
text/main.aux
text/main.bbl
text/main.blg
text/main.log
text/main.pdf
text/main.synctex.gz

# partial results
results/n*.pdf

#CVS
results/summary.csv

#LOGS
src/scripts/debugging/logs/n_*

#NON USED DATASETS
results/batteryConsumptionDistribution-*
results/broadcastSession-*
results/duplicatedMsgsDistribution-*
results/collisions_*
results/graphConnectivity_*

#ICDCS paper
papers/ICDCS2017/main.aux
papers/ICDCS2017/main.bbl
papers/ICDCS2017/main.blg
papers/ICDCS2017/main.log
papers/ICDCS2017/main.pdf
papers/ICDCS2017/main.synctex.gz

# Draft for adaptation paper
# Middleware2017
papers/Middleware2017/main.aux
papers/Middleware2017/main.bbl
papers/Middleware2017/main.blg
papers/Middleware2017/main.log
papers/Middleware2017/main.pdf
papers/Middleware2017/main.out
papers/Middleware2017/main.synctex.gz

#
src/scripts/algo
