# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc
src/emergent_overlays/src/Makefile
src/emergent_overlays/src/*.so
src/emergent_overlays/src/out
src/deprecated/**/*_m.cc
src/deprecated/**/*_m.h
src/deprecated/**/Makefile
# node.js packages
**/node_modules

# Non useful output files
src/base/Makefile
src/base/*/*_m.cc
src/base/*/*_m.h
src/protocols/Makefile
built/
experiments/configs/built_configs/*.ini
experiments/configs/built_configs/results
experiments/configs/in_common/config.xml
experiments/networks/built_topologies/*.ned
experiments/configs/built_configs/cfgs_for_workers

experiments/networks/built_topologies/*.mobility
experiments/networks/built_topologies/*.pdf
experiments/networks/built_topologies/*.positions

src/scripts/algo


# Paper
text/main.aux
text/main.bbl
text/main.blg
text/main.log
text/main.pdf
text/main.synctex.gz

#LOGS
src/scripts/debugging/logs/n_*
experiments/configs/built_configs/completed_tasks_no
./.env

#NON USED DATASETS
results/batteryConsumptionDistribution*
results/broadcastSession*
results/duplicatedMsgsDistribution*
results/collisions*
results/graphConnectivity*
results/sentCtrlMsgsDistribution*
results/sentBroadcastMsgsDistribution*
results/relays*
results/recvCtrlMsgsDistribution*
results/recvBroadcastMsgsDistribution*
results/distributionOfDensity*
results/densityRelativeError*
results/coverage*
results/collisionsRelativeError*
results/noderoles*
results/*.tgz
results/*.pdf

#ICDCS paper
papers/ICDCS2017/main.aux
papers/ICDCS2017/main.bbl
papers/ICDCS2017/main.blg
papers/ICDCS2017/main.log
papers/ICDCS2017/main.pdf
papers/ICDCS2017/main.synctex.gz

# Draft for adaptation paper
# Middleware2017
papers/Middleware2017/main.aux
papers/Middleware2017/main.bbl
papers/Middleware2017/main.blg
papers/Middleware2017/main.log
papers/Middleware2017/main.pdf
papers/Middleware2017/main.out
papers/Middleware2017/main.synctex.gz
