package builtTopologies;

import inet.networklayer.configurator.ipv4.IPv4NetworkConfigurator;
import inet.node.inet.INetworkNode;
import inet.physicallayer.contract.packetlevel.IRadioMedium;
import broadcasting.CenterHost;

network {{network.name}} {
  @display("bgb={{network.w}}, {{network.h}}");

  string mediumType = default("IdealRadioMedium");
  submodules:
  configurator: IPv4NetworkConfigurator { @display("p=0,0"); }
  radioMedium: <mediumType> like IRadioMedium { @display("p=0,0"); }
  {% for idx in network.positions %}
  hostR{{idx}} : CenterHost{ @display("p={{network.pos[idx][0]}},{{network.pos[idx][1]}}"); {{network.node_info(idx)}} }
  {% endfor %}
}
